:root {
  --light-color: #f1f4f5;
  --white-color: #fbfeff;
  --light-blue-color: #7ecdd8;
  --medium-blue-color: #1c8eae;
  --medium-dark-color: #392012;
  --amber-color: #FFBF00;
  --green-color: #1B4D3E;
  --cyan-color: #15F4EE;
  --green-blue-color: #1164B4;
  --indigo-color: #00416A;
  --red-violet-color: #C71585;
  --magenta-color: #D0417E;
}
