<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="s.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="https://cdn.iconscout.com/icon/free/png-256/free-java-logo-icon-download-in-svg-png-gif-file-formats--wordmark-programming-language-pack-logos-icons-1174953.png?f=webp" width="50px" alt="">
        <ul>
            <li>Home</li>
            <li>Register</li>
            <li>Login</li>
            <li>Contacts</li>
        </ul>
    </div>
    <div class="main">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo2_ARWGNlUQ8pdiQzrh0IEqdctW9OigBevIK39nqhFKc-u2TCssH9KZoox2mX2CGyWMA&usqp=CAU" alt="">
        <img src="https://media.istockphoto.com/id/183805843/photo/generic-java-code.webp?a=1&b=1&s=612x612&w=0&k=20&c=msrZHgBrgmXpvvxdkNIgbsZcN6-Np37DS2X5rgRlSnQ=" alt="">
        <img src="https://t3.ftcdn.net/jpg/04/51/12/88/360_F_451128839_vmKOyil368UoXcac46W7aaqelTtLuNFk.jpg" alt="">
    </div>
    <div class="footer">
        <!-- Addresss -->
         <div class="address">
            <p>Hyderbad</p>
            <p>521180</p>
         </div>
         <div class="contact">
            <p>Test@gmail.com</p>
            <p>9494767489</p>
         </div>
    </div>
</body>
</html>